<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Poker/pic_poker_a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,123},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,245},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,367},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,489},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,611},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,733},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,855},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a5.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a6.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,89},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a7.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,211},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a8.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,333},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a9.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,455},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,577},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,699},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,821},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b12.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,89},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b13.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,177},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,299},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,421},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,543},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,665},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,787},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,177},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,89},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_backend.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c1.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,299},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c10.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,421},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c11.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,543},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c12.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,665},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c13.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,787},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c2.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,177},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c3.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,89},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c4.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c5.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,265},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c6.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,387},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c7.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,509},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c8.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,631},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c9.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,753},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,265},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d10.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,177},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d11.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,89},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d12.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d13.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,353},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,475},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d3.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,597},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d4.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,719},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d5.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,916},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d6.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,353},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d7.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,265},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d8.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,177},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d9.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,89},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,475},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_small_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,977},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,977},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,943},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a10.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,968},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a11.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,968},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a12.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,943},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a13.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,968},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,968},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,909},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a4.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a5.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,909},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a6.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,959},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a7.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,959},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a8.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a9.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,959},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,959},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,909},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b12.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,909},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b13.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,959},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,959},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,959},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,959},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,875},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,900},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,875},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,925},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c1.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,900},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c10.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,950},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c11.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1000},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c12.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,950},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c13.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,925},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c2.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,950},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c3.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1000},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c4.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,950},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c5.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,841},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c6.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,866},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c7.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,841},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c8.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,891},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c9.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,866},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,916},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d10.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,891},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d11.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,941},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d12.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,597},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d13.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,647},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,697},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d3.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,747},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d4.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,797},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d5.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,822},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d6.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,847},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d7.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,872},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d8.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,597},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d9.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,647},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Poker.png</string>
			<key>realTextureFileName</key>
			<string>Poker.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>